@import url('https://fonts.cdnfonts.com/css/tt-commons');
@import url("//db.onlinewebfonts.com/c/f02cf2e6e27a17bcfe9efa18c041c208?family=Redcollar");


* {
  margin: 0;
}

:root {
  --main: #000000;
  --accent: #f51b1b;
  --white: #ffffff;

  --h1-text: normal 400 24px/28px "Redcollar", sans-serif; 
  --h2-text: normal 400 16px/100% "Redcollar", sans-serif;
  --main-text: normal 400 20px/24px "TT Commons", sans-serif;
  --extra-text: normal 400 18px/24px "TT Commons", sans-serif;
}


.main-wrapper {
  width: 100vw;
  min-height: 100vh;
}

.main-container {
  position: relative;
  display: grid;
  grid-template-columns: 322px auto;
  gap: 31px;
  width: 1440px;
  margin: 0 auto;
  padding: 40px;
  color: var(--white);
  background-color: var(--main);
}


.logo {
  position: absolute;
  top: 24px;
  right: 40px;
  display: grid;
  grid-template-columns: 162px auto 52px;
  column-gap: 8px;
  align-items: center;
}

.collar-rdclr-school {
  height: 16px;
  background-image: url("./assets/collar-rdclr-school.png");
}

.left-arrow {
  width: 11px;
  height: 24px;
  background-image: url("./assets/left-arrow.svg");
}

.front {
  height: 15px;
  background-image: url("./assets/front.png");
}


.short-information {}

.photo-container {
  position: relative;
  height: 355px;
}

.photo {
  position: absolute;
  z-index: 0;
  width: 100%;
}

.redcollar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./assets/redcollar.svg");
  background-color: linear-gradient(var(--accent), #ff6262);
  background-size: 148px 65px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-container {
  position: relative;
  margin-top: -48px;
}

.up-arrow {
  width: 60px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./assets/up-arrow.svg");
}

.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 24px;
  background-color: var(--accent);
  border-radius: 24px 24px 0 0;
}


.main-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  font: var(--h1-text);
  letter-spacing: -0.02em;
}

.age-and-city {
  font: var(--main-text);
  letter-spacing: -0.02em;
}


.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

.contact-item {
  display: flex;
  gap: 11px;
  list-style: none;
}

.contact-icon {
  width: 24px;
  height: 24px;
  background-position: left center;
  background-repeat: no-repeat;
}

.tel {
  background-image: url("./assets/phone-call.svg");
}
.email {
  background-image: url("./assets/mail.svg");
}
.telegram {
  background-image: url("./assets/telegram.svg");
}
.github {
  background-image: url("./assets/github.svg");
}

.contact-link {
  font: var(--main-text);
  letter-spacing: -0.02em;
  color: var(--white);
  text-decoration: none;
}


.long-information {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.summary {
  width: 100%;
  padding-top: 18px;
}

.p {
  width: 690px;
  font: var(--extra-text);
  letter-spacing: -0.01em;
}


.background-container {
  position: relative;
}

.arrow-to-down {
  position: absolute;
  left: 56px;
  width: 60px;
  height: 20px;
  background-image: url("./assets/arrow-to-down.svg");
}


.background-list {
  padding-left: 0;
  border: 1px solid var(--white);
}

.background-item {
  display: flex;
  padding: 48px 28px;
  gap: 72px;
  list-style: none;
}

.background-title {
  width: 124px;
  font: var(--h2-text);
}

.background-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 0;
}

.background-description-item {
  list-style: none;
}

.background-description-title,.skill-item {
  font: var(--extra-text);
  letter-spacing: -0.01em;
}

.background-description-extra, .background-description-date {
  font: var(--extra-text);
  letter-spacing: -0.01em;
  opacity: 0.4;
}


.skills-list {
  width: 367px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.skill-item {
  font: var(--extra-text);
  letter-spacing: -0.01em;
  list-style: none;
}


.line {
  width: 100%;
  height: 1px;
  background-color: var(--white);
}
